<div class="login-background">
  <div class="container">
    <div class="login form">
      <header>Sign Up</header>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Enter your email" formControlName="email">
        <div *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched">
          Please enter a valid email.
        </div>
        <input type="password" placeholder="Enter your password" formControlName="password">
        <div *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched">
          Please enter a password.
        </div>
        <input type="password" placeholder="Confirm your password" formControlName="confirmPassword">
        <div *ngIf="signUpForm.controls['confirmPassword'].invalid && signUpForm.controls['confirmPassword'].touched">
          Please confirm your password.
        </div>
        <input type="button" class="button" value="Sign Up">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
          <a routerLink="/login">Login</a></span>
      </div>
    </div>
  </div>
</div>