body {
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login {
  text-align: center;
}

.login header {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  background: #1a1a1a;
  color: #fff;
  cursor: pointer;
}

.signup {
  margin-top: 15px;
}

.signup label {
  cursor: pointer;
  color: rgb(219, 52, 91);
}